body{
	background-color: #d2d2c1; 
	font: 16px Arial, Helvetica, sans-serif;
	text-align: justify;
}
nav{
	background-color: #c5c5b2;
	padding: 18px;
}
a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1{
	color: #828271;
	font-size: 1.2em;
}
img{
	border: 10px solid #c3c3ae;
}
#principal{
	width:920px;
	margin-left: 300px; 
}
.conteudo{
	background-color: #e8e8d9;
	padding: 10px;
	align-items: initial;
}

.content {
	align-content: baseline;
	display: flex;
	flex-direction: column;
	align-items: safe center;
}

.form-group1 {
	display: flex;
	flex-direction:column;
	align-items: center
}

.form-group {
	align-items: safe center;
	justify-content:space-between;
}
